/* klasseselektor hentes fra html class, id hentes fra html id. 
class hentes med ".", id hentes med "#"*/

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #0051ba;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

#oppfinnelser, #kontakt, footer {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

.kunder li {
    color: #d70;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

